//-------------------VAR HERE--------------------
$mediumDevice: 768px;
$smallDevice: 450px;
$sizeText: 16px;
$blackColor: #262626;
// ----------------------------------------------------------------
